{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components",
    "stylelint-config-prettier",
  ],
  "rules": {
    "declaration-colon-newline-after": null,
    "value-list-comma-newline-after": null
  }
}
